################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
Server/.vs
/Server/**/bin
/Server/**/obj
/Server/**/Properties
.vscode/tasks.json
.vscode/launch.json
/**/secrets.h
.vscode/c_cpp_properties.json
Server/Stromzaehler/BlinkData.db
/**/*.csproj.user