@page "{hours=3}"
@model Stromzaehler.Pages.PowerChartModel
@{
    ViewData["Title"] = "Energy Chart of last " + RouteData.Values["hours"] + " hours";
    if (!int.TryParse(RouteData.Values["hours"] as string, out var lastHours)) {
        lastHours = 3;
    }
    Model.LoadBlinks(lastHours);
}

<script src="~/lib/chartjs/dist/Chart.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>@ViewData["Title"]</h1>
<canvas id="chart" style="width:100%; height:500px"></canvas>

<script type="text/javascript">
    (function () {
        new Chart(document.getElementById("chart"), {
            type: 'line',
            data: {
                labels: @Html.Raw(Model.GetLabels()),
                datasets: [{
                    data: @Model.GetEnergyData(),
                    label: "Energy",
                    borderColor: "#3e95cd",
                    fill: true
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Energy by time'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 0.5
                        }
                    }],
                    xAxes: [{
                        type: 'time'
                    }]
                }
            }
        });

    })();
</script>

