@page
@model IndexModel
@{
    ViewData["Title"] = "academia";
}

<div class="text-center">
    <h1>academia test</h1>
    @Model.Database.Blinks.Count();

    <table>
        <thead>
            <tr>
                <th>When</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model.Database.Blinks.Take(20).OrderByDescending(b => b.Timestamp))
            {
                <tr>
                    <td>@d.Timestamp.ToString("yyyy-MM-ddTHH:mm:ss,f")</td>
                    <td>@d.Value</td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
