@page "{hours=3}"
@model Stromzaehler.Pages.PowerChartModel
@{
    ViewData["Title"] = "Power Chart of last " + RouteData.Values["hours"] + " hours";
    if (!int.TryParse(RouteData.Values["hours"] as string, out var lastHours)) {
        lastHours = 3;
    }
}

<script src="~/lib/chartjs/dist/Chart.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>@ViewData["Title"]</h1>
<canvas id="chart" style="width:100%; height:500px"></canvas>

<script type="text/javascript">
    (function () {
        new Chart(document.getElementById("chart"), {
            type: 'line',
            data: {
                labels: @Html.Raw(Model.GetLabels(lastHours)),
                datasets: [{
                    data: @Model.GetData(lastHours),
                    label: "Power",
                    borderColor: "#3e95cd",
                    fill: true
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Power by time'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 2500,
                            stepSize: 150
                        }
                    }]
                }
            }
        });

    })();
</script>

