@page
@model Stromzaehler.Pages.PowerChartModel
@{
    ViewData["Title"] = "Power Chart";

}

<script src="~/lib/chartjs/dist/Chart.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>@ViewData["Title"]</h1>

<canvas id="chart" style="width:100%; height:500px"></canvas>

<script type="text/javascript">
    (function () {
        new Chart(document.getElementById("chart"), {
            type: 'line',
            data: {
                labels: @Html.Raw(Model.GetLabels()),
                datasets: [{
                    data: @Model.GetData(),
                    label: "Power",
                    borderColor: "#3e95cd",
                    fill: true
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Power by time'
                }
            }
        });

    })();
</script>

